* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 10px 10px;
}

section input {
    padding: 10px;
}

section button {
    padding: 5px 10px;
}

#container {
    width: 960px;
    height: 960px;
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-wrap: wrap;
    box-sizing: initial;
    border: 5px solid rgb(105, 105, 105);
}

.box {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(246, 246, 246);
}

.colored {
    background-color: gray;
}