* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: 576px;
    height: 576px;
    background-color: rgb(229, 229, 229);
    display: flex;
    flex-wrap: wrap;
    gap: 1px 1px;
    box-sizing: initial;
    border: 5px solid rgb(105, 105, 105);
}

.box {
    background-color: rgb(255, 255, 255);
    flex: 1 0 35px;
}

.colored {
    background-color: gray;
}